<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleIconFile</key>
        <string>AppIcon</string>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>NSHumanReadableCopyright</key>
        <string>Copyright Antonio Lassandro</string>
        <key>LSArchitecturePriority</key>
        <array>
            <string>x86_64</string>
        </array>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>LSApplicationCategoryType</key>
        <string>public.app-category.games</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.9.0</string>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>NSQuitAlwaysKeepsWindows</key>
        <false/>
    </dict>
</plist>
